<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!--<link rel="stylesheet" href="./css/style.css">-->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

  <body>
    <section class="flex-sect" id="iqw1p">
      <div class="container-width" id="ixcsj">
        <div class="gjs-row" id="iwp1uq">
          <div class="gjs-cell" id="iwc2yl">
              404 Not Found
          </div>
            </div>
        <div class="gjs-title-row" id="i6uu1">
          <div class="gjs-cell" id="it38h">
              <div class="flex-title" id="if7j6">
                  <span id="if8j7"><a href="/"><i class="fa fa-arrow-right" aria-hidden="true"></i> Go Back Home</a></span>
              </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <footer class="footer-under" id="ikn8eu">
      <div class="gjs-row" id="iqzgmk">
        <div class="gjs-cell" id="ida3de">
          <div class="foot-list" id="ia6p6n">
            <a class="foot-list-title" id="ilrigm">About the service</a><br>
            <a class="foot-list-item" id="i6reyx">About</a><br>
            <a class="foot-list-item" id="iasa1u">Add the bot to my server</a><br>
            <a class="foot-list-item" id="id06ls">Help</a><br>
            <a class="foot-list-item" id="i3vgf2">Contact us</a><br>
          </div>
        </div>
        <div class="gjs-cell" id="ieb6rq">
          <div class="foot-list" id="iv0ipc">
            <a class="foot-list-title" id="ihqc28">Documentation</a><br>
            <a class="foot-list-item" id="i81hv6">As a user</a><br>
            <a class="foot-list-item" id="if9l8d">As a server admin</a><br>
            <a class="foot-list-item" id="iasa1u">Github Repository</a><br>
            <a class="foot-list-item" id="iasa1u">DockerHub Image</a><br>
          </div>
        </div>
      </div>
      <div class="container-width">
        <div class="footer-container" id="ik0nkh">
          <div class="foot-lists">
            <div class="clearfix"></div>
          </div>
          <div class="form-sub"></div>
        </div>
      </div>
      <div class="copyright" id="i5q8b3">
        <div class="container-width">
          <div class="made-with" id="inesqo">Made with ❤️ by <a href="https://github.com/LucasPlacentino"
              id="i6s78" target="_blank">Lucas Placentino</a> and <a href="https://github.com/OscarVsp" id="il8zp"
              target="_blank">Oscar Van Slijpe</a> for the <a href="https://bepolytech.be" id="i6zlq">BEP</a> and the
            ULB student community.<br><em>This service is neither officially related or endorsed by the Université libre de Bruxelles.</em></div>
          <div class="foot-social-btns">facebook twitter linkedin mail</div>
          <a href="/switch_to_english" class="lang-button unselected-lang">EN</a>
        <a href="" class="lang-button selected-lang">FR</a>
          <div class="clearfix"></div>
        </div>
      </div>
    </footer>
</body>

</html>
