<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <!--<link rel="stylesheet" href="./css/style.css">-->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <body>
    <section class="flex-sect" id="iqw1p">
      <div class="container-width" id="ixcsj">
        <div class="gjs-row" id="iwp1uq">
          <div class="gjs-cell" id="iwc1yl">
            <div class="flex-title" id="isl2q">Hello, <i id="ibgfgw">{{ user.name }} {{ user.surname }}</i>
            </div>
          </div>
        </div>
      <div class="gjs-title-row" id="iggerx">
        <div class="gjs-cell" id="i87qsk">
          <i id="ijsy0p">{{ user.email }}
          </i>
          <a href="/logout" class="button-light logout-button" id="ihlfcn"><span id="i2e4vk">Logout</span><i style="font-size: 1.4em; margin-left: 1rem;" class="fa fa-sign-out logout-icon" >
            </i></a>
        </div>
      </div>
        <div class="gjs-row" id="i3x5f">
          <div class="gjs-cell" id="ibqro">
            <div id="ibxju">Vous n'avez <b>pas</b> encore relié votre compte Discord, appuyez alors sur le bouton
              ci-dessous :</div>
          </div>
        </div>
        <div class="gjs-row" id="ii63e">
          <div class="gjs-cell" id="i96zw">
              <a href="/login_discord" class="button-dark" id="discord-button">
                <img src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a6ca814282eca7172c6_icon_clyde_white_RGB.svg" class="button-icon"/>
                <span>Discord Login</span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer-under" id="ikn8eu">
      <div class="gjs-row" id="iqzgmk">
        <div class="gjs-cell" id="ida3de">
          <div class="foot-list" id="ia6p6n">
            <a class="foot-list-title" id="ilrigm">About the service</a><br>
            <a class="foot-list-item" id="i6reyx">About</a><br>
            <a class="foot-list-item" id="iasa1u">Add the bot to my server</a><br>
            <a class="foot-list-item" id="id06ls">Help</a><br>
            <a class="foot-list-item" id="i3vgf2">Contact us</a><br>
          </div>
        </div>
        <div class="gjs-cell" id="ieb6rq">
          <div class="foot-list" id="iv0ipc">
            <a class="foot-list-title" id="ihqc28">Documentation</a><br>
            <a class="foot-list-item" id="i81hv6">As a user</a><br>
            <a class="foot-list-item" id="if9l8d">As a server admin</a><br>
            <a class="foot-list-item" id="iasa1u">Github Repository</a><br>
            <a class="foot-list-item" id="iasa1u">DockerHub Image</a><br>
          </div>
        </div>
      </div>
      <div class="container-width">
        <div class="footer-container" id="ik0nkh">
          <div class="foot-lists">
            <div class="clearfix"></div>
          </div>
          <div class="form-sub"></div>
        </div>
      </div>
      <div class="copyright" id="i5q8b3">
        <div class="container-width">
          <div class="made-with" id="inesqo">Made with ❤️ by <a href="https://github.com/LucasPlacentino"
              id="i6s78" target="_blank">Lucas Placentino</a> and <a href="https://github.com/OscarVsp" id="il8zp"
              target="_blank">Oscar Van Slijpe</a> for the <a href="https://bepolytech.be" id="i6zlq">BEP</a> and the
            ULB student community.<br><em>This service is neither officially related or endorsed by the Université libre de Bruxelles.</em></div>
          <div class="foot-social-btns">facebook twitter linkedin mail</div>
          <a href="/switch_to_english" class="lang-button unselected-lang">EN</a>
          <a class="lang-button selected-lang">FR</a>
          <div class="clearfix"></div>
        </div>
      </div>
    </footer>
  </body>
</body>

</html>
